@import "_mixins"

.canvas
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

.toolbox
    position: fixed;
    left: 0;
    top: 0;
    paddign: 15px;
    margin: 15px;
    width: 200px;
    z-index: 50;
    
